<!--
  HACK
  Set image processing options for render hooks
  Currently here to avoid certain priority issues...
-->

{{- .Scratch.Set "imageProc" (dict "highRes" (.Site.Params.imageProc.highRes | default .Site.Data.default.imageProc.highRes) "mediumRes" (.Site.Params.imageProc.mediumRes | default .Site.Data.default.imageProc.mediumRes) "lowRes" (.Site.Params.imageProc.lowRes | default .Site.Data.default.imageProc.lowRes) "markupAutoResizeWidth" (.Site.Params.imageProc.markupAutoResizeWidth | default .Site.Data.default.imageProc.markupAutoResizeWidth)) -}}

<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" data-mode="dark">
  <head>
    {{ partial "head" .}}
    <!-- Main JS -->
    {{ $main := resources.Get "js/main.js" | resources.ExecuteAsTemplate "js/main.js" . | minify | fingerprint }}
    <script src="{{ $main.Permalink }}" integrity="{{ $main.Data.Integrity }}" crossorigin="anonymous"></script>
    <!-- Main CSS -->
    {{ $main := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "css/main.scss" . | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $main.Permalink }}" integrity="{{ $main.Data.Integrity }}" crossorigin="anonymous">

  </head>
  <body>
    <header id="navbar">
      {{ partialCached "header" .}}
    </header>
    <a href='#' id='backtotop'></a>
    <div class="content">
      {{ block "main" . }}
      {{ end }}
    </div>

  </body>
</html>
