<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{{ if eq .Kind "404" }}
<meta name="description" content="Boring little 404 page">
<title>Page doesn't exist</title>

{{ else if or (eq .Kind "home") (eq .Type "about") }}
<meta name="description" content="{{ .Site.Params.description }}">
<title>{{ .Title | emojify }}</title>

{{ else if eq .Kind "section" }}
<meta name="description" content="Page with list of all posts">
<title>{{ .Title | emojify }}</title>
<link rel="canonical" href="{{ .Permalink }}">
<!-- load required javascript for searching -->
{{ $fuse := resources.Get "js/fuse.js" | resources.ExecuteAsTemplate "js/fuse.js" . | minify | fingerprint }}
<script defer src="{{ $fuse.Permalink }}" integrity="{{ $fuse.Data.Integrity }}" crossorigin="anonymous"></script>
{{ $search := resources.Get "js/search.js" | resources.ExecuteAsTemplate "js/search.js" . | minify | fingerprint }}
<script defer src="{{ $search.Permalink }}" integrity="{{ $search.Data.Integrity }}" crossorigin="anonymous"></script>

{{ else if eq .Kind "term" }}
<meta name="description" content="Page for all posts with the tag/category '{{ .Title }}'">
<title>{{ .Title | emojify }}</title>
<link rel="canonical" href="{{ .Permalink }}">

{{ else }}
<meta name="description" content="{{ .Params.description }}">
<!-- Open Graph things -->
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Params.description }}">
{{if .Params.cover }}
{{ $mediaPath := path.Join .Permalink (.Page.Param "mediaPath") }}
{{ $cover := path.Join $mediaPath .Params.cover }}
<meta property="og:image" content="{{ $cover }}">
{{ end }}
<meta property="og:url" content="{{ .Permalink }}">
<title>{{ .Title | emojify }}</title>
<link rel="canonical" href="{{ .Permalink }}">
{{ end }}

{{ partialCached "preload-fonts" .}}
{{ partialCached "preload-css" .}}


<!-- Get the javascripts -->
{{ $main := resources.Get "js/main.js" | resources.ExecuteAsTemplate "js/main.js" . | minify | fingerprint }}
<script defer src="{{ $main.Permalink }}" integrity="{{ $main.Data.Integrity }}" crossorigin="anonymous"></script>
