{{ $pag := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}

<ul id=featuredPosts>
  {{ range $pag.Pages }}

    {{ $pageDate := "" }}

    {{ if not .Date.IsZero }}
      {{ $pageDate = .Date.Format "2006-01-02" }}
    {{ end }}

    <li>
      <a href="{{ .RelPermalink }}" aria-label="{{ .LinkTitle }}{{ with $pageDate }}{{ printf " (%s)" . }}{{ end }}">
        <h4>{{ .LinkTitle | emojify }}</h4>

        {{ with $pageDate }}
          <time datetime="{{ . }}">{{ . }}</time>
        {{ end }}
      </a>
      <p> {{ .Description }} </p>
      <hr>
    </li>
  {{ end }}
</ul>
